# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=15a580e2fd7a31bbe2919cebd9acaa01

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
